/* commman */
a:hover {
    text-decoration: none;
}

.section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section h2.section-head {
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

.section h2.section-head:after {
    background-color: #e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}









/* commman */
#header {
    color: white;
    background-color: #e74c3c;
}

#logo {
    font-size: 2rem;
    margin-top: 5px;
    text-transform: uppercase;
}

#menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu li {
    display: inline-block;
}

#menu li a {
    color: #fff;
    padding: 15px 10px;
    display: block;
}


#menu li a:hover     {
    background-color: #c0392b;
}



#banner {
    background: url(../images/escritorio\ simple\ moderno\ con\ dos\ monitor\ en\ el\ to.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: center;
}

.banner-title {
    padding: 5rem;
}

.banner-title h1 {
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 0px;
    text-transform: uppercase;
}

.banner-title p.lead {
    color: white;
    padding: 10px;
}


.servies-box {
    text-align: center;
}

.servies-box img{
    margin-bottom: 15px;
    transform: scale(1.2);
}


#testimonials {
    color: white;
    background: url(/images/Ukrainian\ three\ meters\ parallelepiped\ pillar\ with\ .jpg) no-repeat 0 0;
    background-size: cover;
    padding: 50px 0px;
    position: relative;


}

.testimonial img{
    border-radius: 50%;
} 

#testimonials:before {
    background: rgba(52, 73, 94, 0.7);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}   



.news-post img {
    width: 100%;
    margin-bottom: 10px;
}

.news-post h3 {
    font-size: 1.35rem;
}

.news-post h3 a {
    color: #e74c3c;
}

.post-date{
    font-size: 13px;
    margin-bottom: 2px;
}

a.read-more {
    font-size: 14px;
    color: #e74c3c;
}



#footer-sidebar {
    color: white;
    background: #34495e;
    padding: 20px 0px;

}

.footer-widget h4:after {
    content: "";
    background-color: #fff;
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px 0px;
}

.footer-widget a {
    color: white;
}

.Leatest-news {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Leatest-news   li {
    margin-bottom: 3px;
}

#footer {
    color: #fff;
    background: #2c3e50;
    padding: 10px 0px;
}

#social-icon{
    list-style-type: none;
    color: #fff;
    margin: 0px;
    padding: 0px;
    
}

#social-icon li {
    display: inline-block;
    padding-left: 5px;
    text-transform: capitalize;
}

#social-icon li a {
    color: #fff;
    font-size: 23px;
}