/* commman */
a:hover {
    text-decoration: none;
}









/* commman */
#header {
    color: white;
    background-color: #e74c3c;
}

#logo {
    font-size: 2rem;
    margin-top: 5px;
    text-transform: uppercase;
}

#menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu li {
    display: inline-block;
}

#menu li a {
    color: #fff;
    padding: 15px 10px;
    display: block;
}


#menu li a:hover     {
    background-color: #c0392b;
}



#banner {
    background: url(../images/escritorio\ simple\ moderno\ con\ dos\ monitor\ en\ el\ to.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: center;
}

.banner-title {
    padding: 5rem;
}

.banner-title h1 {
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 0px;
    text-transform: uppercase;
}

.banner-title p.lead {
    color: white;
    padding: 10px;
}